*.pur
docs/_build/
blend_addon_src/
*.log
GN_Icons/backup_icons
GN_Icons/LegacyIcons
GN_Icons/RawIcons/.output
GN_Icons/RawIcons/.output_resized
GN_Icons/RawIcons/logs
GN_Icons/RawIcons/temp.svg
*.blend[0-9]
github-createissue.txt
_NodepackGeneratedZipFiles/
_NodepackGeneratedZipFiles/*